
@import "tailwindcss";

@tailwind utilities;

/* Global Styles */
body {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: none; 
  margin: 0;
  padding: 0;
  text-align: left;
}

h1 {
  font-size: 3em; 
  font-weight: 700;
  
}